header{
    display: inline block;
    width: 100%;
    background-color: antiquewhite;
    text-align: center;

   > h2, >  p {
        display: block;
        width: 700px;
        margin: auto;
    }
}

.search{
    display: inline-block;
    width: 90%;
    margin: 0 auto;
    background-color: beige;
    text-align: center;

    > div {
        display: inline-block;
        min-width: 10%;
    }
}

.list{
    display: flex;
    flex-wrap: wrap;

    .primary{
        width: calc(100% / 3);
    }

    img {
        width: 100%;
    }
}




